/.idea/.idea.NMS_Database/.idea/.gitignore
/NMS_Database/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/.signature.p7s
/packages/System.Data.SQLite.Core.1.0.115.5/.signature.p7s
/NMS_Database/database/database.sql
/.idea/.idea.NMS_Database/.idea/dataSources.xml
/.idea/.idea.NMS_Database/.idea/indexLayout.xml
/.idea/.idea.NMS_Database/.idea/misc.xml
/NMS_Database/NMS_Database.csproj
/NMS_Database/obj/Debug/NMS_Database.csproj.CopyComplete
/NMS_Database/obj/Debug/NMS_Database.csproj.CoreCompileInputs.cache
/NMS_Database/obj/Debug/NMS_Database.csproj.FileListAbsolute.txt
/NMS_Database/obj/Debug/NMS_Database.csproj.GenerateResource.cache
/NMS_Database/obj/Debug/NMS_Database.csprojAssemblyReference.cache
/NMS_Database/bin/Debug/NMS_Database.exe
/NMS_Database/obj/Debug/NMS_Database.exe
/NMS_Database/bin/Debug/NMS_Database.exe.config
/NMS_Database/obj/Debug/NMS_Database.MainForm.resources
/NMS_Database/bin/Debug/NMS_Database.pdb
/NMS_Database/obj/Debug/NMS_Database.pdb
/NMS_Database/obj/Debug/NMS_Database.Properties.Resources.resources
/NMS_Database.sln.DotSettings.user
/.idea/.idea.NMS_Database/.idea/sqldialects.xml
/NMS_Database/bin/Debug/x64/SQLite.Interop.dll
/NMS_Database/bin/Debug/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net20/x64/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net20/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net40/x64/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net40/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net45/x64/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net45/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net46/x64/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net46/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net451/x64/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net451/x86/SQLite.Interop.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5.nupkg
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net20/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net40/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net45/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net46/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/build/net451/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/buildTransitive/net20/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/buildTransitive/net40/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/buildTransitive/net45/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/buildTransitive/net46/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/buildTransitive/net451/Stub.System.Data.SQLite.Core.NetFramework.targets
/packages/System.Data.SQLite.Core.1.0.115.5/System.Data.SQLite.Core.1.0.115.5.nupkg
/NMS_Database/bin/Debug/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net20/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net40/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net45/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net46/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net451/System.Data.SQLite.dll
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net20/System.Data.SQLite.dll.altconfig
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net40/System.Data.SQLite.dll.altconfig
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net45/System.Data.SQLite.dll.altconfig
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net46/System.Data.SQLite.dll.altconfig
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net451/System.Data.SQLite.dll.altconfig
/NMS_Database/bin/Debug/System.Data.SQLite.xml
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net20/System.Data.SQLite.xml
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net40/System.Data.SQLite.xml
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net45/System.Data.SQLite.xml
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net46/System.Data.SQLite.xml
/packages/Stub.System.Data.SQLite.Core.NetFramework.1.0.115.5/lib/net451/System.Data.SQLite.xml
/.idea/.idea.NMS_Database/.idea/vcs.xml
